
body
{
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
h2
{
    border: 1px solid black;
    width:50% !important;
    text-align: center;
    float:right;
    margin: 0px !important;
}

p {
  float:right;
  text-align: justify;
  padding: 10px;
  font-family: Cambria;
  color: black;
}
.chicken
{
  background-color: red;
}
.beef
{
  background-color: yellow;
}
.sushi
{
  background-color: blue;
}
.row {
  width: 100%;
}


@media (max-width:767px)
{
  .col-sm-12 {
    position: relative;
    float: left;
    text-align: justify;
    border: 2px solid red;
    background-color: #ADD8E6;
    width: 95%;
    margin: 2% !important;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    position: relative;
    float: left;
    text-align: justify;
    border: 2px solid yellow;
    background-color: #ADD8E6;
    width: 45%;
    margin: 2% !important;
    box-sizing: border-box;
  }
  .col-md-6:nth-child(3)
  {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    position: relative;
    float: right;
    text-align: justify;
    border: 2px solid blue;
    background-color: #ADD8E6;
    width: 30%;
    margin-right:2.5% !important;
    box-sizing: border-box;

  }
}